<nav class="navbar navbar-light" style="background-color: #e46c63;">
    <p>Hola <span class="username">{{ username }}</span>!! Bienvenid@ a <span class="username">TREFIND</span> </p>
    <form class="form-inline my-2 my-lg-0 ml-auto" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" formControlName="table">
        <button class="btn btn-dark" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
      </form>
</nav>
<div class="col-lg-8" >
    
      <div class="card-deck">
        <div class="row">
          
          <div class="col-md-6">
            <div class="card" *ngFor="let data of dataList;">
                <div class="board">
                <div class="card-body">
                    
                        <h5 class="card-title">{{ data.name }}</h5>
                        <hr class="hr-light">
                        <p class="card-text">{{ data.desc }}</p>
                        
                            <div >
                                <p >
                                    <a class="btn btn-dark" role="button" href={{data.shortUrl}}> VISITAR TABLERO</a>
                                </p>
                            </div>
                            <div>
                                <span (click)="onClickMe(data)">
                                    <fa-icon [icon]="faStar"></fa-icon>
                                </span>
                            </div>
                    </div>
                          
                </div>
            </div>
            
          </div>
          <div class="col-md-6">
            <p class="favorite">FAVORITOS</p>
            <div class="card" *ngFor="let data of dataFavorite;">
                <div class="favorite">
                    <div class="card-body">
                        <h5 class="card-title">A {{ username }} le gusta:</h5>
                        <hr class="hr-light">
                        <p class="nameFavorite">{{ data.name }}</p>
                        
                            <div >
                                <p >
                                    <a class="btn btn-dark" role="button" href={{data.shortUrl}}> VISITAR TABLERO</a>
                                  </p>
                            </div>
                            <div>
                                <span (click)="onClickMeRemove(data)">
                                    <fa-icon [icon]="faStar"></fa-icon>
                                </span>
                            </div>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>

</div>
